.Form{
	align-content: center;
	border:10px;
	border-radius:5px;
	background-color:#e94e9052;
	width:auto;
	max-width:600px;
	border-color:black;
	margin:auto;
	padding:3px;
	padding-left:5px;
}
body {
    background-image: url("1oI_fVxbMJc.jpg");
}
.error{
	border: 2px solid red;
}
.good{
	border:2px solid yellow;
	background-color: yellow;
}
#events{
	border-radius:10px;
	border-color:black;
	background-color:pink;
	text-align:center;
	color:white;
}
